<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Fighter</title>
    <div th:insert="fragments/base :: assetsHead"></div>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="app-container">
    <div class="players-card">

        <h2 class="text-center">Create Fighter</h2>

        <form th:action="@{/fighters/create}" 
              th:object="${fighter}" 
              method="post">

            <div class="mb-3">
                <label>Name</label>
                <input type="text" class="form-control" th:field="*{name}">
            </div>

            <div class="mb-3">
                <label>Health</label>
                <input type="number" class="form-control" th:field="*{health}">
            </div>

            <div class="mb-3">
                <label>Damage</label>
                <input type="number" step="0.1" class="form-control" th:field="*{damage}">
            </div>

            <div class="mb-3">
                <label>Resistance</label>
                <input type="number" step="0.1" class="form-control" th:field="*{resistance}">
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    Register Fighter
                </button>
            </div>

        </form>

    </div>
</div>

<div th:insert="fragments/base :: assetsScripts"></div>

</body>
</html>
