<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Fighter</title>
    <div th:insert="fragments/base :: assetsHead"></div>
</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="create-form-container">
    <form th:action="@{/createFighter}" th:object="${fighter}" method="post">

        <label>Name:</label>
        <input th:field="*{name}" />
        <p th:errors="*{name}"></p>

        <label>Health:</label>
        <input th:field="*{health}" />
        <p th:errors="*{health}"></p>

        <label>Damage:</label>
        <input th:field="*{damage}" />
        <p th:errors="*{damage}"></p>

        <label>Resistance:</label>
        <input th:field="*{resistance}" />
        <p th:errors="*{resistance}"></p>

        <button type="submit">Create Fighter</button>
    </form>
</div>

</body>

</html>