<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fighters</title>
    <div th:insert="fragments/base :: assetsHead"></div>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="app-container">
    <div class="players-card">

        <h2 class="text-center mb-4">Fighters List</h2>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Health</th>
                <th>Damage</th>
                <th>Resistance</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="fighter : ${fighters}">
                <td th:text="${fighter.name}"></td>
                <td th:text="${fighter.health}"></td>
                <td th:text="${fighter.damage}"></td>
                <td th:text="${fighter.resistance}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div th:insert="fragments/base :: assetsScripts"></div>

</body>
</html>
